click==8.1.8 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
metatrader5==5.0.4803 ; python_version >= "3.11" and python_version < "4"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
